h3,label{
	font-family:"Arial";
}
#projectName,#exampleCheck1,#projectUrl{
	/*border: 2px solid gray;*/
	font-family:"Arial";
}


.text-primary.text-lg-right{
	font-family:"Arial";
}
/*hr{
	border: 2px solid gray;
}*/
.creator{
	border: none;
	font-family:"Arial";
}
.dropdown-toggle{
	width: 100%;
	/*border: 2px solid gray;*/
	font-size:18px;
	font-family:"Arial";
	border-radius: 5px;
	height: 40px;
	color: gray;
}
#descriptionBox{
	height: 140px;
	width: 100%;
	color: gray;
	/*border: 2px solid gray;*/
	font-family:"Arial"; 
}
#saveBtn{
	font-family:"Arial";
}

