<div class="container my-forms">
	<form>
		<h3>Add language</h3>
		<div class="form-group">
			<label for="languageId" class="mt-4">Language</label>
			<input type="text" class="form-control" id="languageId"/>
		</div>
		<div class="form-group">
			<label class="mt-2">Proficiency</label>
			<select class="dropdown-toggle form-control">
				<option class="dropdown-item"></option>
			</select>
		</div>
		<div class="text-right mt-5">
			<button type="button" class="btn btn-primary btn-md" id="saveBtn"><strong>Save</strong></button>
		</div>
	</form>
</div>