<div class="container-fluid ">
  <form>
    <!-- first card with image -->
    <div class="card mb-4">
      <img class="card-img-top" id="cover" src="../../../assets/img/index.png" alt="Card image cap">
      <img id="profile" src="../../../assets/img/f0949.jpg">
      <div class="card-body mt-5">
        <div class="row justify-content-between">
          <div class="col-4">
            <h2 class="card-title">FirstName LastName </h2>
            <h4>Job Description</h4>
            <h4>Location</h4>
          </div>

          <div class="col-4 mt-4">
            <h4>Digikore College of animation</h4>
            <h4>See contct info</h4>
            <h4>See mail</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd card  -->

    <div class="form-group">
    <div class="card w-100 mt-3 ">
        <div class="card-body">
          <h5 class="card-title">Summary</h5>
          
            <ul>
              <li>Expertise in Technical / Industrial Animation and building visualization.</li>
              <li> Providing cost effective promotional tools to Industrial and architectural sector.</li>
              <li> worked for walkthroughs, interior design, exterior design, and also Pneumatic, Oil Filtration,
                Storage Systems, Material Handling, Air Filtration, Paint Booths, Automation and many other industries
                like
                centrifugal pump and Compressor.</li>
            </ul>
            <p class="card-text">
            Creosma Animation is a knowledge base company that offers innovative solutions to significantly add value
            in product presentation & company presentation.
            Creosma is expertise in technical 3D animation such as Storage Systems, Paint booth , conveyor belt,
            SPM's and Pick & Place Robotics etc.
            This type of animation used for explaining working of product.
            It helps customer to understand process/work flow of product without going to workplace.
            Creosma also provide innovative presentations required for board meetings, summits, product
          </p>
  
        </div>
      </div>
    </div>
    <!-- 3rd card -->
<div class="form-group">
    <div class="card w-100 mt-3">
        <div class="card-body">
          <h5 class="card-title">Education:</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
        </div>
      </div>

    </div>
    <!-- 4th card -->

    <div class="form-group">
        <div class="card w-100 mt-3">
            <div class="card-body">
              <h5 class="card-title">Licenses & Certifications:</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
            </div>
          </div>
    
        </div>
    <!-- 5th card -->
    <div class="form-group">
        <div class="card w-100 mt-3">
            <div class="card-body">
              <h5 class="card-title">Skills:</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
            </div>
          </div>
    
        </div>
        <!-- 6th card -->
        <div class="form-group">
            <div class="card w-100 mt-3">
                <div class="card-body">
                  <h5 class="card-title">Experience:</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
                </div>
              </div>
        
            </div>

  </form>
</div>
