
<div class="container my-forms">
  <form>
    <div class="row">
      <div class="btn-group-lg col-lg-4 mt-2">
        <button class="btn btn-dark">Import from linkedin</button>
      </div>
      <div class="btn-group-lg col-lg-4 mt-2">
        <button class="btn btn-dark">Upload CV</button>
      </div>
      
      <div class="btn-group-lg col-lg-4 mt-2 dropdown">
        <button type="button" class="btn btn-primary float-md-right dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Add profile section</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a routerLink="/edit-intro" class="dropdown-item" href="#">Intro</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Background</a>
          <a routerLink="/experience" class="dropdown-item" href="#">Work Experience</a>
          <a routerLink="/education" class="dropdown-item" href="#">Education</a>
          <a routerLink="/licenses&certifications" class="dropdown-item" href="#">Licenses & Certifications</a>
          <a routerLink="/volunteer-experience" class="dropdown-item" href="#">Volunteer experience</a>
          <div class="dropdown-divider"></div>
          <a routerLink="/skills" class="dropdown-item" href="#">Skills</a>
          <a routerLink="/skills" class="dropdown-item" href="#">Skills on your profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Accomplishments</a>
          <a routerLink="/publications" class="dropdown-item" href="#">Publications</a>
          <a routerLink="/patents" class="dropdown-item" href="#">Patents</a>
          <a routerLink="/courses" class="dropdown-item" href="#">Courses</a>
          <a routerLink="/projects" class="dropdown-item" href="#">Projects</a>
          <a routerLink="/honors-awards" class="dropdown-item" href="#">Honors & Awards</a>
          <a routerLink="/test-scores" class="dropdown-item" href="#">Test Scores</a>
          <a routerLink="/languages" class="dropdown-item" href="#">Languages</a>
          <a routerLink="/organisations" class="dropdown-item" href="#">Organisations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Additional Information</a>
        </div>
      </div>  
    </div>
  </form>
</div>


<br>
<br>
<div>
  <app-edit-info></app-edit-info>
</div>
<br>
<br>
<div>
  <app-add-experience></app-add-experience>
</div>
<br>
<br>
<div>
  <app-add-education></app-add-education>
</div>
<br>
<br>
<div>
  <app-add-licenses></app-add-licenses>
</div>
<br>
<br>
<div>
  <app-add-volunteer-experience></app-add-volunteer-experience>
</div>
<br>
<br>
<div>
  <app-skills></app-skills>
</div>
<br>
<br>
<div>
  <app-publication></app-publication>
</div>
<br>
<br>
<div>
  <app-patent></app-patent>
</div>
<br>
<br>
<div>
  <app-course></app-course>
</div>
<br>
<br>
<div>
  <app-project></app-project>
</div>
<br>
<br>
<div>
  <app-honors></app-honors>
</div>
<br>
<br>
<div>
  <app-score></app-score>
</div>
<br>
<div>
  <app-language></app-language> 
</div>
<br>
<br>
<div>
  <app-add-organization></app-add-organization>
</div>
<br>
<br>
<app-question-answer></app-question-answer>


 