<div class="container my-forms">
	<form>
		<h3>Add course</h3>
		<div class="form-group">
			<label for="courseName" class="mt-4">Course name</label>
			<input type="text" class="form-control" id="courseName"/>
		</div>
		<div class="form-group">
			<label for="numberId" class="mt-2">Number</label>
			<input type="text" class="form-control" id="numberId"/>
		</div>
		<div class="form-group">
			<label for="associatedId" class="mt-2">Associated with</label>
			<select class="dropdown-toggle" id="associatedId">
				<option class="dropdown-item"></option>
				<option></option>
			</select>
		</div>
		<div class="text-right mt-5">
			<button type="button" class="btn btn-primary btn-md" id="saveBtn"><strong>Save</strong></button>
		</div>
	</form>
</div>