<div class="container my-forms">
	<form>
		<h3>Add honors & awards</h3>
		<div class="form-group">
			<label for="titleSelect" class="mt-4">Title</label>
			<input type="text" class="form-control" id="titleSelect"/>
		</div>
		<div class="form-group">
			<label for="associatedId" class="mt-2">Associated with</label>
			<select class="dropdown-toggle" id="associatedId">
				<option class="dropdown-item"></option>
				<option></option>
			</select>
		</div>
		<div class="form-group">
			<label for="issuerId" class="mt-2">Issuer</label>
			<input type="text" class="form-control" id="issuerId"/>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<div class="col">
				<select class="form-control" id="monthSelect">
					<option>Month</option>
				</select>
			</div>
			<div class="col">
				<select class="form-control" id="yearSelect">
					<option>Year</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="descriptionBox" class="mt-2">Description</label>
			<textarea type="text" class="form-control" id="descriptionBox"></textarea>
		</div>
		<div class="text-right mt-5">
			<button type="button" class="btn btn-primary btn-md" id="saveBtn"><strong>Save</strong></button>
		</div>	
	</form>
</div>