h3,label{
	font-family:"Arial";
}
/*hr{
	border: 2px solid gray;
}*/
/*#patentTitle,#applicationNumber,#patentUrl{
	border: 2px solid gray;
}*/
.dropdown-toggle{
	width: 100%;
	/*border: 2px solid gray;*/
	font-family:"Arial";
	border-radius: 5px;
	color: gray;
}
#inventorName{
	border: none;
	font-family:"Arial";
}
.custom-control-label{
	font-family:"Arial";
}
.selectId{
	border: 2px solid gray;
	font-family:"Arial";
	color: gray;
	border-radius: 5px;
	margin-left: 10px;
}
#descriptionBox{
	height: 140px;
	/*border: 2px solid gray;*/
}
#saveBtn{
	font-family:"Arial";
}
