<div class="container my-forms">
  <form>
      <h3>Add organization</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name">
      </div>

      <div class="form-group">
        <label for="post">Position held</label>
        <input class="form-control" type="text" name="post" id="post">
      </div>

      <div class="form-group">
        <label for="associat">Associated with</label>
        <input class="form-control" type="text" name="associat" id="associat">
      </div>

      <div class="row">
        <div class="col">
          <label for="monthSelect">Start Data</label>
          <select name="monthSelect" id="monthSelect" class="form-control">
            <option value="1">month</option>
            <option value="2">1</option>
          </select>
        </div>
        <div class="col">
          <label for="monthSelect1">End Data</label>
            <select name="monthSelect1" id="monthSelect1" class="form-control">
              <option value="1">month</option>
              <option value="2">1</option>
            </select>
        </div>
      </div>
        
      <div class="row mt-2">
        <div class="col ">
          <select name="yearSelect" id="yearSelect" class="form-control">
            <option value="1">Year</option>
            <option value="2">1</option>
          </select>
        </div>
        <div class="col ">
          <select name="yearSelect1" id="yearSelect1" class="form-control">
              <option value="1">Year</option>
          </select>
        </div>
      </div>

      <div class="form-check mt-2 mb-3" >
        <input class="form-check-input" id="checkMember" type="checkbox" >
        <label class="text-muted" for="checkMember"> Mambership ongoing</label>
      </div>

      <div class="form-group">
        <label for="descri">Description</label>
        <textarea name="descri" id="descri" class="form-control" ></textarea> 
      </div>
        <button class="btn btn-primary float-right">Save</button>
  </form>
</div>