h3,label{
	font-family:"Arial";
}
/*#addSkill{
	border: 2px solid gray;
}*/
#addInput{
	font-family:"Arial";
}
.btn.btn-outline-primary{
	border-radius: 40px;
	border: 2px solid;
	margin-left: 8px;
}
